.wrapper {
    background-color: #1A1A1A;
    width: 1100px;
    margin: 0 auto
}

.header {
    padding: 10px;
}

.header > h1{
    color: #CFCFCB;
    display: inline-block;
    padding: 0 0 0 680px;
    vertical-align: top;
    margin-top: 5px;
    font-style: oblique;
}

